@(commentaire: models.Commentaire)

@mainAdmin("Commentaire") {
  
}{
  
}{
<!-- Page heading starts -->
<div class="page-head">
	<div class="container">
			@Html(flash.get("valide"))
		  	@Html(flash.get("delete"))
	</div>
</div>
<!--/ Page Heading ends -->

<!-- Page content starts -->
<div class="content blog">
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
			<div class="col-md-12">
				<h5>Commentaire</h5>
				Sur l'objet : <a href="@routes.Application.objet(commentaire.objet.id)">@commentaire.objet.nom</a> Status : 
				@if(commentaire.valide){
					Validé
				}else{
					Non Validé
				}
				<div class="item-review">
				  	<h5>@(commentaire.utilisateur.username) </h5>
				  	<p>@(commentaire.contenu)</p>
				</div>

				<div class="col-md-offset-10"> 
					<form id="valid" action="@routes.BackOffice.commentaire(commentaire.id)" method="post">
						<input type="hidden" name="commentaireAction" value="valid"/>
					</form>
					


					<form id="delete" action="@routes.BackOffice.commentaire(commentaire.id)" method="post">
						<input type="hidden" name="commentaireAction" value="delete"/>
					</form>
					@if(commentaire.valide){
					  
					}else{
					  <a href='#' onclick='document.getElementById("valid").submit()' role="button" class="modif btn btn-info">Valider</a>
					}
					<a href='#' onclick='document.getElementById("delete").submit()' role="button" class="modif btn btn-danger">Supprimer</a>

				</div>
			</div>
			
      </div>
    </div>
</div>
<!--/ Page content ends -->

}
