@(Utilisateurs: List[Utilisateur], message: String)

@mainAdmin("Gestion des utilisateurs"){
  
} {
  <script>    
      $('.promote').click(function() {
            $.ajax({
                url: "/admin/users/promote/"+$(this).parents().parents().attr("id"),
                type: 'GET',
                success: function (response) {
                    document.location.href = "/admin/users/"+response;
                }
            });

      });
      $('.delete').click(function() {
            $.ajax({
                url: "/admin/users/delete/"+$(this).parents().parents().attr("id"),
                type: 'GET',
                success: function (response) {
                    document.location.href = "/admin/users/"+response;
                }
            });
      });
  </script>
}{
<!-- Page heading starts -->
<div class="page-head">
	<div class="container">
      @Html(message)
	</div>
</div>
<!--/ Page Heading ends -->

<!-- Page content starts -->

@if(session.get("right") == "admin"){
  <div class="content blog">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <table class="table">
          <theader>

              <th>
                    #
              </th>
              <th>
                    Nom
              </th>
              <th>
                    Email
              </th>
              <th>
                    Date d'arrivée
              </th>
              <th>
                    Droits
              </th>
              <th>
                    Promotion
              </th>
              <th>
                    Supression
              </th>
          </tr>
          <tbody>
          @for(utilisateur <- Utilisateurs) {
            <tr id="@utilisateur.id">

              <td>
                    @utilisateur.id
              </td>
              <td>
                    @utilisateur.username
              </td>
              <td>
                    @utilisateur.email
              </td>
              <td>
                    @utilisateur.creationDate
              </td>
              <td>
                    @utilisateur.rights
              </td>
              <td>
                    <button type="button" class="promote btn btn-info"> promote </button>
              </td>
              <td>
                    <button type="button" class="delete btn btn-danger"> delete </button>
              </td>
            </tr>
          }
        </tbody>
        </table>
      </div>
    </div>
  </div>
}else{
  <div class="content blog">
    <div class="row">
      <div class="col-md-10 col-md-offset-3">
        <p>Vous devez disposez des droit d'administrateur pour accèder au contenu de cette page.</p>
      </div>
    </div>
  </div>
}
}