@main("Welcome to Play") {

<div class="content contact-two">
  <div class="container">
    <div class="row"> 
        <div class="col-md-6">
          	<!-- Contact form -->
          	<h4 class="title">Contact Form</h4>
            <div class="form">
              <form class="form-horizontal">
                <!-- Email -->
                <div class="form-group">
                  <label class="control-label col-md-2" for="email1">Email</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="email1">
                  </div>
                </div>
                <!-- Comment -->
                <div class="form-group">
                  <label class="control-label col-md-2" for="comment">Comment</label>
                  <div class="col-md-9">
                    <textarea class="form-control" id="comment" rows="3"></textarea>
                  </div>
                </div>
                <!-- Buttons -->
                <div class="form-group">
                  <!-- Buttons -->
				  <div class="col-md-9 col-md-offset-2">
					<button type="submit" class="btn btn-default">Submit</button>
					<button type="reset" class="btn btn-default">Reset</button>
				  </div>
                </div>
              </form>
        </div>
        <hr />       
        <div class="col-md-6">
            <h4 class="title">Google Map</h4>
                <!-- Google maps -->
               	<div class="gmap">
                    <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
                    <iframe height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                    <iframe height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
					src="https://www.google.com/maps/embed/v1/place?q=21+Rue+d'Assas,+75006+Paris,+France&key=AIzaSyCZoL2bspr8tPhtynSxYOyR2BgoncaCkXs"></iframe>
                    </div>
                              
                <hr />
                    
                <h4 class="title">Address</h4>
                <div class="address">
                    <address>
                        <!-- Company name -->
                        <strong>Responsive Web, Inc.</strong><br>
                            21 rue d'Assas<br>
                            Paris, 75006<br>
                            <abbr title="Phone">P:</abbr>   01 45 44 09 55
                    </address>
                                            
                    <address>
                        <a href="mailto:#">asurmendi.jesus@@gmail.com</a>
                    </address> 
                </div>
            </div>
    	</div>
  	</div>
</div>



}



