@(
firstLink: String,
secondLink: String,
thirdLink: String,
fourthLink: String,
firstImage: String,
secondImage: String,
thirdImage: String,
fourthImage: String,
descriptionSite: String,
description3D: String
)


@main("Web3Dmuseum"){
  
}{
  
}{

<!-- Page heading starts -->
<div class="page-head">
	<div class="container">


		<div id="carousel-accueil" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-accueil" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-accueil" data-slide-to="1"></li>
		    <li data-target="#carousel-accueil" data-slide-to="2"></li>
		    <li data-target="#carousel-accueil" data-slide-to="3"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		    	<a href="@firstLink">
		      		<img src="@routes.Assets.at("imgObjet/")@(firstImage)" style="height: 350px; margin-left: auto; margin-right: auto; ">
		      	</a>
		    </div>
		    <div class="item">
		    	<a href="@secondLink">
		      		<img src="@routes.Assets.at("imgObjet/")@(secondImage)" style="height: 350px; margin-left: auto;margin-right: auto; ">
		      	</a>
		    </div>
		    <div class="item">
		    	<a href="@thirdLink">
		      		<img src="@routes.Assets.at("imgObjet/")@(thirdImage)" style="height: 350px; margin-left: auto; margin-right: auto; ">
		      	</a>
		    </div>
		    <div class="item">
		    	<a href="@fourthLink">
		      		<img src="@routes.Assets.at("imgObjet/")@(fourthImage)" style="height: 350px; margin-left: auto; margin-right: auto; ">
		      	</a>
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-accueil" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-accueil" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
	<div id="contenuAccueil">
		<div id="presentationSite">
			<h3 class="title"> Description du site </h3>
			@(descriptionSite)
		</div>
		<div id="presentation3D">
			<h3 class="title"> Description du model 3D </h3>
			@(description3D)
		</div>
	</div>
</div>
<!--/ Page Heading ends -->


}



