@(searchItem: String, liste_objet1: String, addCivList : String)
@main("Welcome to Play"){ }{ }{

<!-- Page heading starts -->
<div class="page-head">
	<div class="container">
    	<h3>Rechercher un objet : @searchItem</h3>
	</div>
</div>
<!--/ Page Heading ends -->

<!-- Page content starts -->
<div class="content blog">
    
    <div class="row">
      	<div class="col-md-10 col-md-offset-1">
			
			<form class="form-horizontal col-md-6 col-md-offset-3" action="">
				<div class="form-group">
					<h4 for="nom" class="col-sm-2 control-label searchLabel">Nom :</h4>
					<div class="col-sm-8">
						<input name="nom" type="text" class="form-control" id="nom">
					</div>
				</div>
				<div class="form-group">
						<button type="submit" class="btn btn-primary search-button">Rechercher</button>
				</div>
				<div class="form-group">
				<a class="btn btn-primary advancedParamButton" data-toggle="collapse" href="#advancedParameters" aria-expanded="false" aria-controls="advancedParameters">Afficher plus de paramètres...</a>
				</div>
				<div class="collapse" id="advancedParameters">
					<div class="form-group">
						<label for="reference" class="col-sm-2 control-label searchLabel">Référence :</label>
						<div class="col-sm-8">
							<input name="reference" type="text" class="form-control" id="reference">
						</div>
					</div>
					<div class="form-group">
						<label for="type" class="col-sm-2 control-label searchLabel">Type :</label>
						<div class="col-sm-8">
							<input name="type" type="text" class="form-control" id="type">
						</div>
					</div>
					<div class=" form-group">
						<label for="matiere" class="col-sm-2 control-label searchLabel">Matière :</label>
						<div class="col-sm-8">
							<input name="matiere" type="text" class="form-control" id="matiere">
						</div>
					</div>
					<div class="form-group">
						<label for="archeo" class="col-sm-2 control-label searchLabel">Découvreur :</label>
						<div class="col-sm-8">
							<input name="archeo" type="text" class="form-control" id="archeo">
						</div>
					</div>
					<div class="form-group">
						<label for="poid" class="col-sm-2 control-label searchLabel">Poids :</label>
						<div class="col-sm-8">
							<input name="poid" type="text" class="form-control" id="poids">
						</div>
					</div>
					<div class="form-group">
						<label for="longueur" class="col-sm-2 control-label searchLabel">Longueur :</label>
						<div class="col-sm-8">
							<input name="longueur" type="text" class="form-control" id="longueur">
						</div>
					</div>
					<div class="form-group">
						<label for="largeur" class="col-sm-2 control-label searchLabel">Largeur :</label>
						<div class="col-sm-8">
							<input name="largeur" type="text" class="form-control" id="largeur">
						</div>
					</div>
					<div class="form-group">
						<label for="hauteur" class="col-sm-2 control-label searchLabel">Hauteur :</label>
						<div class="col-sm-8">
							<input name="hauteur" type="text" class="form-control" id="hauteur">
						</div>
					</div>		
					<div class="form-group">
						<label for="civilisation" class="col-sm-2 control-label searchLabel">Civilisation :</label>
						<div class="col-sm-8">
							<select name="civilisation" id="civilisation" class="form-control">
								<option value="">...</option>
								@Html(addCivList)
								
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="location-act" class="col-sm-2 control-label searchLabel">Location actuelle :</label>
						<div class="col-sm-8">
							<input name="location-act" type="text" class="form-control" id="location-act">
						</div>
					</div>
					<div class="form-group">
						<label for="location-tr" class="col-sm-2 control-label searchLabel">Location trouvé :</label>
						<div class="col-sm-8">
							<input name="location-tr" type="text" class="form-control" id="location-tr">
						</div>
					</div>
					<div class="form-group">
						<label for="date-tr" class="col-sm-2 control-label searchLabel">Date trouvé :</label>
						<div class="col-sm-8">
							<input name="date-tr" type="text" class="form-control" id="date-tr">
						</div>
					</div>
				</div>		
			</form>	
      	</div>

      	<div class="col-md-10 col-md-offset-1">
      	<h4 class="title"></h4>
      		Résulat de la recherche :@(liste_objet1)
      	</div>
    </div>
</div>
<!--/ Page content ends -->

}