@import helper._
@( )

@main("Error"){
	
}{
	
}{

<div class="content error-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-5">  
        <!-- Big 404 text -->
        <div class="big-text">403</div>
        <hr />
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-md-offset-1">
        <h2>Vous n'avez pas le droit de faire ca!!! Demandez l'aide d'un administrateur.</h2>
        <h4>Access forbidden</h4>
        <hr />
        <hr />
      </div>

    </div>
  </div>
</div>



}