@(header: String,body: String)

@mainAdmin("Web3Dmuseum BackOffice"){
	
}{
  
}{

<!-- Page heading starts -->
<div class="page-head">
	<div class="container">
    	@(header)
	</div>
</div>
<!--/ Page Heading ends -->

<!-- Page content starts -->
<div class="content blog">
    @(body)
    <br>
    
    <div class="col-md-6 col-md-offset-3">
    	<h1 class="title">Vous êtes sur la page d'administration</h1>
    	<br>
    	<a href="/mod/addObjet">
	    	<div class="col-md-3">
	    		<i class="fa fa-plus" style="font-size:120px"> </i><br><a href="/mod/addObjet">Ajouter un objet</a>
	    	</div>
    	</a>
    	<a href="/mod/searchObject">
	    	<div class="col-md-3">
	    		<i class="fa fa-search" style="font-size:120px"> </i><br><a href="/mod/searchObject">Rechercher un objet</a>
	    	</div>
    	</a>
    	<a href="/admin/users">
    		<div class="col-md-3">
    			<i class="fa fa-user" style="font-size:120px"> </i><br><a href="/admin/users">Gérer les utilisateurs</a>
    		</div>
    	</a>
    	
    	<a href="/mod/listPropositions">
    		<div class="col-md-3">
    			<i class="fa fa-edit" style="font-size:120px"> </i><br><a href="/mod/listPropositions">Gérer les propositions de modification</a>
    		</div>
    	</a>
    	
    	<a href="/mod/listCommentaires">
    		<div class="col-md-3">
    			<i class="fa fa-comment" style="font-size:120px"> </i><br><a href="/mod/listCommentaires">Gérer les commentaires</a>
    		</div>
    	</a>
    	
    	<a href="/mod/listFaits">
    		<div class="col-md-3">
    			<i class="fa fa-book" style="font-size:120px"> </i><br><a href="/mod/listFaits">Gérer les faits historiques</a>
    		</div>
    	</a>
    	
    	<a href="/mod/addParcours">
    		<div class="col-md-3">
    			<i class="fa fa-arrows-h" style="font-size:120px"> </i><br><a href="/mod/addParcours">Gérer les parcours</a>
    		</div>
    	</a>
    	
    	<a href="/admin/contact">
    		<div class="col-md-3">
    			<i class="fa fa-envelope-o" style="font-size:120px"> </i><br><a href="/admin/contact">Feedbacks</a>
    		</div>
    	</a>
    	
    	<a href="/mod/modifyText">
    		<div class="col-md-3">
    			<i class="fa fa-file-text-o" style="font-size:120px"> </i><br><a href="/mod/modifyText">Gérer les textes</a>
    		</div>
    	</a>
    	
    </div>
    


</div>
<!--/ Page content ends -->

}