@(header: String,body: String)

@main("Welcome to Play") {

<!-- Page heading starts -->
<div class="page-head">
	<div class="container">
    	@(header)
	</div>
</div>
<!--/ Page Heading ends -->

<!-- Page content starts -->
<div class="content blog">
    @(body)
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
			<div class="col-md-6">
				<a href="#">
				    <img src="http://placehold.it/450x450" class="img-responsive" alt="Responsive image">
				</a>
			</div>
			<div class="col-md-6">
				<h3>Nom de l'objet</h3>
				Reference: N0158 <br>
				Type: Vase <br>
				Matière: Terre cuite <br>
				Largeur: <br>
				Longeur: <br>
				Longeur: <br>
				Hauteur: <br>
				Poid: <br>
				Localisation actuelle: <br>
				Localisation origine: <br>
				Archéologue: <br>
				Date de découverte: <br>
				Civilisation: <br>

				<div class="col-md-offset-9">

					<div class="hlinks">
						<span class="lr"><a href="#enrichir" role="button" data-toggle="modal">Enrichir l'oeuvre</a></span>
					</div>
				</div>

			</div>

			<div class="col-md-12">
				<br>
				<h1>Description</h1>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed mi eleifend, porta magna sit amet, convallis metus. Donec dui tortor, tristique sit amet dictum eget, consectetur vel tellus. Morbi tincidunt, elit eget posuere venenatis, risus ex lobortis mauris, sit amet tincidunt tortor urna eget massa. Duis ullamcorper elit luctus, fringilla turpis nec, varius metus. Curabitur dictum molestie nunc, lacinia bibendum nibh efficitur interdum. Proin ac massa eu velit interdum ultricies sit amet et ante. Curabitur vitae sem vel odio rhoncus dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris dignissim, ipsum vulputate maximus bibendum, est metus aliquam nibh, sed egestas quam nulla eu diam. Vestibulum rhoncus elit tempor suscipit sodales. Donec in viverra lorem. Nunc dapibus tortor non justo luctus laoreet. Aenean eu orci fermentum, rutrum ex eu, euismod erat.</p>
			</div>
			<div class="col-md-12">
				<ul class="nav nav-tabs nav-justified">
				  ...
				</ul>
			</div>
      </div>
    </div>
</div>
<!--/ Page content ends -->

}
