@(header: String,objet: models.Objet, imagePrincipale: String)

@main("Welcome to Play") {

<!-- Page heading starts -->
<div class="page-head">
	<div class="container">
    	@(header)
	</div>
</div>
<!--/ Page Heading ends -->

<!-- Page content starts -->
<div class="content blog">
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
			<div class="col-md-6 col-sm-6">
				<img src="@routes.Assets.at("imgObjet/")@(imagePrincipale)" class="img-responsive" alt="Responsive image">
			</div>
			<div class="col-md-6">

				<table class="table table-striped tcart">
					  <tbody>
					  	<h2>@(objet.nom)</h2>
						<tr>
						  <td><strong><h5>Reference</h5></strong></td>
						  <td>@(objet.reference)</td>
						</tr>
						<tr>
						  <td><strong>Type</strong></td>
						  <td>
							@(objet.type_objet)
						  </td>
						</tr>
						<tr>
						  <td><strong>Matière</strong></td>
						  <td>
							@(objet.matiere)
						  </td>
						</tr>
						<tr>
						  <td><strong>Largeur</strong></td>
						  <td>
						  	@(objet.largeur)
						  </td>
						</tr>
						<tr>
						  <td><strong>Longeur</strong></td>
						  <td>
						  	@(objet.longeur)
						  </td>
						</tr>
						<tr>
						  <td><strong>Hauteur</strong></td>
						  <td>
							@(objet.hauteur)
						  </td>
						</tr>
						<tr>
						  <td><strong>Poid</strong></td>
						  <td>
						  	@(objet.poids)
						  </td>
						</tr>
						<tr>
						  <td><strong>Localisation actuelle:</strong></td>
						  <td>
						  	@(objet.localisationActuelle)
						  </td>
						</tr>
						<tr>
						  <td><strong>Localisation origine</strong></td>
						  <td>
						  	@(objet.localisationOrigine)
						  </td>
						</tr>  
						<tr>
						  <td><strong>Archéologue</strong></td>
						  <td>
						  	@(objet.archeologue)
						  </td>
						</tr>  
						<tr>
						  <td><strong>Date de découverte</strong></td>
						  <td>
						  	@(objet.dateDecouverte)
						  </td>
						</tr>  
						<tr>
						  <td><strong>Civilisation</strong></td>
						  <td>
						  	@(objet.civilisation)
						  </td>
						</tr>                                                                                               
					  </tbody>
					</table>

				<div class="col-md-offset-9">

					<div class="hlinks">
						<span class="lr"><a href="#enrichir" role="button" data-toggle="modal">+Enrichir l'oeuvre</a></span>
					</div>
				</div>

			</div>
			<br/>
			<div class="col-md-12">
				<ul class="nav nav-tabs">
				  <!-- Use uniqe name for "href" in below anchor tags -->
				  <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
				  <li><a href="#tab2" data-toggle="tab">Medias</a></li>
				  <li><a href="#tab3" data-toggle="tab">Faits historiques</a></li>
				  <li><a href="#tab4" data-toggle="tab">Commentaires</a></li>
				</ul>

				<!-- Tab Content -->
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						<h5>Description</h5>
						<p>@(objet.description)</p>
					</div>
					<div class="tab-pane" id="tab2">
						<h5>Medias</h5>
						@for(image <- objet.images) {
						  	<div class="col-md-6 col-sm-6">
								<img src="@routes.Assets.at("imgObjet/")@(image.lien)" class="img-responsive" alt="Responsive image">
						  	</div>
						}

						
					</div>
					<div class="tab-pane" id="tab3">
						<h5>Faits historiques</h5>
						test2
					</div>
					<div class="tab-pane" id="tab4">
						<h5>Commentaires</h5>
						@for(commentaire <- objet.commentaires) {
							@if(commentaire.valide) {
								<div class="item-review">
								  	<h5>@(commentaire.utilisateur.username) </h5>
								  	<p>@(commentaire.contenu)</p>
								</div>
							}
						}
						
						<hr />
						<h5 class="title">Ecrire un commentaire</h5>
						<div class="form form-small">
						  	<!-- Review form (not working)-->
						  	<form class="form-horizontal">
							  	<!-- Review -->
							  	<div class="form-group">
									<label class="control-label col-md-3" for="name">Votre commentaire</label>
									<div class="col-md-6">
								  		<textarea class="form-control"></textarea>
									</div>
							  	</div>
							  	<!-- Buttons -->
							  	<div class="form-group">
								 	<!-- Buttons -->
								 	<div class="col-md-6 col-md-offset-3">
										<button type="submit" class="btn btn-default">Envoyer</button>
										<button type="reset" class="btn btn-default">Annuler</button>
									</div>
							  	</div>
						  	</form>
						</div> 
					</div>
				</div>


			</div>
      </div>
    </div>
</div>
<!--/ Page content ends -->

}
